.div_carrinho{

    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    position: absolute;
    width: 259.91px;
    height: 260px;
    left: 18px;
    top: 610px;
    background: #F5F5F5;
    border-radius: 0px 0px 5px 5px;
    justify-content: flex-end;
    align-items: flex-start;
    
}

.header_carrinho{

    position: absolute;
    width: 280px;
    height: 60px;
    left: 18px;
    top: 550px;

    background: #27AE60;
    border-radius: 5px 5px 0px 0px;

}

.h1_titulo_carrinho{
    position: absolute;
    left: -25%;
    right: 0%;
    top: 16.67%;
    bottom: -16.67%;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */


    color: #FFFFFF;
}

.h1_info_carrinho{

    position: absolute;
    left: 0%;
    right: 0%;
    top: 16.67%;
    bottom: -16.67%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #333333;
    height: 85%;

}

.p_info_carrinho{


    position: absolute;
    left: 0%;
    right: 0%;
    top: 35%;
    bottom: -33.33%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    color: #828282;
    height: 20%;

}

.div_total{

    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    border-top: 2px solid #E0E0E0;

}

.p_total{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    margin: 10px;

}

.span_preco_total{

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600; 
    font-size: 14px;
    line-height: 24px;
    margin: 10px;

    color: #828282;

}

.ul_produto_carrinho{

    overflow-x: scroll;
    top: -16px;
    position: absolute;
    padding: 0px;
    width: 100%;
    left: 0px;
    height: 75%;

}

.li_produto_carrinho{

    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5px;
    margin-top: 5px;
    width: 95%;
    margin-left: 5px;
 
}

.img_produto_carrinho{

    width: 70px;
    height: 70px;
    position: relative;
    left: 0%;
    right: 76.68%;
    top: 0%;
    bottom: 0%;

    /* grey-100 */

    background: #E0E0E0;
    border-radius: 5px;

}

.h1_nome_produto_carrinho{

    height: 20px;
    margin: 1px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;

    color: #333333;
}

.p_categoria_produto_carrinho{

    height: 20px;
    margin: 1px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    color: #828282;

}

.btn_add_produto_carrinho{

    position: relative;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #BDBDBD;
    border-color: transparent;
    background: #F5F5F5;
    top: -25px;

}

.div_container_carrinho{

    width: 100%;
    height: 100%;

}

.div_info_produto_carrinho{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    left: -5px;
    height: 73px;
    width: 100px;
    text-align: left;

}

@media(min-width: 375px){

    .header_carrinho{
        width: 339.91px; 
    }

    .div_carrinho{
        width: 319.91px;
    }

}

@media(min-width: 425px){

    .header_carrinho{
        width: 387.91px;
    }

    .div_carrinho{
        width: 367.91px;
    }

    .h1_titulo_carrinho{
        left: -44%;
        top: 12.67%;
    }

}

@media(min-width: 768px){
    .header_carrinho{
        width: 236px;
        height: 60px;
        left: 513px;
        top: 155px;

    }

    .h1_titulo_carrinho{
        left: -3%;
    }

    .div_carrinho{
        width: 217px;
        height: 230px;
        left: 513px;
        top: 215px;
    }

    .div_info_produto_carrinho{
        width: 65px;
    }
}

@media(min-width: 1024px){

    .header_carrinho{
        left: 770px;
    }

    .div_carrinho{
        left: 769px;
    }

}

@media(min-width: 1440px){

    .header_carrinho{
        left: 1000px;
        width: 385px;
    }

    .div_carrinho{
        left: 1000px;
        width: 365px;
        height: 235px;
        top: 216px;
    }

    .h1_titulo_carrinho{
        left: -40%;
    }
}

@media(min-width: 1600px){

    .div_carrinho{
        left: 1160px;
        top: 216px;

    }

    .header_carrinho{

        left: 1160px;
    }

}

