.App {
  text-align: center;
}

.header_pesquisa{

  display: flex;
  max-width: 1700px;
  height: 139px;
  left: 0px;
  top: 0px;
  background: #F5F5F5;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.btn_pesquisa{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
  
  position: static;
  width: 107px;
  height: 40px;
  left: 265px;
  top: 10px;
  
  background: #27AE60;
  
  border: 2px solid #27AE60;
  box-sizing: border-box;
  border-radius: 8px;
  
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 0px 148px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;

  color: #FFFFFF;

}

.img_logo{

  background-image: url(./Mask\ Group.svg); 
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
  position: absolute;
  width: 247.94px;
  height: 37.83px;
  top: -1.72px;

}

.div_input_pesquisa{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0px 15px;

  position: absolute;
  width: 280px;
  height: 60px;
  top: 65px;

  background: #FFFFFF;
  /* grey-100 */

  border: 2px solid #E0E0E0;
  box-sizing: border-box;
  border-radius: 8px;
  
}

.input_pesquisa{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0px 15px;

  position: absolute;
  width: 280px;
  height: 60px;
  left: -3px;


  background: transparent;

  border: transparent;

  box-sizing: border-box;
  border-radius: 8px;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media(min-width: 375px){

  .div_input_pesquisa{
    width: 319.91px;
  }

  .input_pesquisa{
    width: 319.91px;
  }

  .btn_pesquisa{
    margin: 0px 185px;
  }

}

@media(min-width: 425px){
  .div_input_pesquisa{
    width: 387.91px;
  }

  .input_pesquisa{
    width: 387.91px;

  }

  .btn_pesquisa{
    margin: 0px 250px;
  }
}

@media(min-width: 768px){
  .div_input_pesquisa{
    top: 35px;
    left: 370px;
  }

  .img_logo{

    width: 270.94px;
    height: 26.83px;
    top: 37.28px;
    background-size: contain;

  }

  .input_pesquisa{
    width: 386.91px;
  }

  .header_pesquisa{
    align-items: normal
  }
}

@media(min-width: 1024px){

  .img_logo{
    height: 30.83px;
    top: 36.28px;
  }

  .div_input_pesquisa{
    left: 610px;
  }

}

@media(min-width: 1440px){
    
  .img_logo{
    height: 32.83px;
    top: 43.28px;
    left: 18px;
  }

  .div_input_pesquisa{
    left: 995px;
    top: 43.28px;
  }

}

@media(min-width: 1600px){

  .div_input_pesquisa{
    left: 1160px;
  }

}
